/* Media querys */

@media screen and (max-width: 1280px) {
  /* Partner */

  .partner .partner__content .partner__section .partner__item{
    min-width: 280px;
  }

  /* Steps */

  .steps .steps__content .steps__section .steps__item{
    min-width: 280px;
  }
}

@media screen and (max-width: 1024px) {

  /* Nav */

  .nav{
    padding: 0 1rem;
  }

  .nav .nav__logo {
    width: 200px;
    min-width: 150px;
  }

  .nav .nav__list{
    font-size: .8rem;
  }

  /* Hero */

  .hero{
    height: 550px;
  }

  .hero::after{
    height: 550px;
  }
  
  .hero .hero__content{
    width: 90%;
  }

  .hero .hero__section .hero__info{
    width: 90%;
    min-width: 200px;
  }

  .hero .hero__section .hero__info .hero__title {
    font-size: 2rem;
  }
  .hero .hero__section .hero__info .hero__description {
    font-size: 1rem;
  }

  .hero .hero__section .hero__image{
    width: 80%;
    min-width: 335px;
  }

  /* Partner */

  .partner{
    margin-top: 3rem;
  }

  .partner::before{
    top: -5rem;
    left: -13rem;
    width: 19rem;
    height: 19rem;
  }

  .partner .partner__content .partner__section--cards{
    flex-direction: column;

    width: 300px;

    row-gap: 2rem;
  }

  /* BePartner Hero */

  .bepartner__section--hero{
    column-gap: 1rem;
  }

  .bepartner__section .bepartner__image{
    width: 300px;
  }

  .bepartner .bepartner__image--reverse{
    top: -60px;
  }

  /* Steps */

  .steps{
    margin-top: 3rem;
  }

  .steps .steps__content .steps__section--cards{
    flex-direction: row;

    row-gap: 2rem;
  }

  .steps .steps__content .steps__section .steps__item{
    min-width: 12rem;
  }
}

@media screen and (max-width: 768px) {
  /* Topbar */
  .header .topbar .topbar__text {
    display: none;
  }

  /* Nav */
  .header .nav {
    padding: 0 16px;  /* Ya no necesita !important */
  }

  .nav .nav__logo img {
    width: 100%;
  }
  
  .nav .nav__menu {
    display: none;
  }

  .nav .nav__hamburger {
    display: flex;
    align-items: center;
  }

  /* Hero */

  .hero{
    height: fit-content;
  }

  .hero .hero__content {
    margin-top: 144px;
    flex-direction: column;
    justify-content: normal;
    row-gap: 40px;
  }

  .hero .hero__section{
    width: 100%;
    height: fit-content;
  }

  .hero .hero__section .hero__info {
    top: 0;
    width: 100%;
    margin-bottom: 0;
  }

  .hero .hero__section .hero__info .hero__title {
    font-size: 32px;
  }
  .hero .hero__section .hero__info .hero__description {
    font-size: 16px;
  }

  .hero .hero__section .hero__image{
    width: 100%;
    margin: 0;
  }

  .hero .hero__section .hero__image figure{
    margin: 0;

    display: flex;
    justify-content: end;
  }

  .hero .hero__section .hero__image figure img{
    width: 60%;
    min-width: 335px;
  }

  /* Partner */

  .partner{
    margin-bottom: 3rem;
  }

  .partner::before{
    top: -5rem;
    left: -16rem;
    width: 19rem;
    height: 19rem;
  }

  .partner .partner__content .partner__section .partner__title {
    font-size: 2rem;
  }
  
  .partner .partner__content .partner__section--cards {
    flex-direction: column;
    row-gap: 2rem;
  }

  .partner .partner__content .partner__section .partner__item {
    min-width: 250px;
  }

  .partner .partner__content .partner__section .partner__item .partner__info .partner__info__title{
    font-size: 1.2rem;
  }

  /* Sección de Associate */

  .associate{
    margin-top: 0;
    margin-bottom: 3rem;
  }
  
  .associate::before{
    top: -5rem;
    right: -16rem;
    width: 19rem;
    height: 19rem;
  }
  
  .associate .associate__title{
    font-size: 2rem;
  }

  .associate .associate__section--cards{
    flex-direction: column;
  }

  .associate .associate__item .associate__button .associate__button--text{
    width: 35%;
    font-size: 1rem;
  }

  .associate .associate__item .associate__button button{
    font-size: .9rem;
  }

  /* Sección de BePartner */

  .bepartner .bepartner__content{
    background: var(--color-background-secondary);
  }

  .bepartner .bepartner__section{
    width: 90%;

    margin: auto;

    flex-direction: column;
    row-gap: 2rem;
  }

  /* Sección de Steps */

  .steps{
    margin-bottom: 3rem;
  }

  .steps::before{
    top: -5rem;
    left: -16rem;
    width: 19rem;
    height: 19rem;
  }

  .steps .steps__content .steps__section .steps__title {
    text-align: center;
    font-size: 1.8rem;
  }
  .steps .steps__content .steps__section .steps__title span {
    font-size: 1.8rem;
  }
  
  .steps .steps__content .steps__section--cards {
    flex-direction: column;
    row-gap: 2rem;
  }

  .steps .steps__content .steps__section .steps__item {
    min-width: 100%;
  }

  .steps .steps__content .steps__section .steps__item .steps__info .steps__info__title{
    font-size: 1.2rem;
  }

  /* Sección del Slider */

  .slider .slider__list .slider__item .slider__info .slider__info__title {
    font-size: 1.5rem;
    color: var(--text-white);
  }
  
  .slider .slider__list .slider__item .slider__info .slider__info__description {
    font-size: 1rem;
    color: var(--text-therdary);
  }
}