:root{
  /* Paleta de colores que se van a usar. */

  /* Primarios */
  --color-orange: #FF8500;

  --text-primary: #000000;
  --text-secondary: #828993;
  --text-therdary: #a9aeb5;

  --text-white: #FFFFFF;

  --color-background-primary: #EFEFEF;
  --color-background-secondary: #222935;

  /* ------------------ */
}